<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>FURLOUGH | ACCOLITE</span>
  <span></span>
  <span>
    <button mat-button>
      <span routerLink="uploads" routerLinkActive="router-link-active">UPLOADS</span>
    </button>
    <button mat-button>
      <span routerLink="reports" routerLinkActive="router-link-active">REPORTS</span>
    </button>
    <button mat-button>
      <span routerLink="employees" routerLinkActive="router-link-active">EMPLOYEE</span>
    </button>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
